.serise-bar{
        display: flex;
        justify-content: space-around;
    li{
        width: 100%;
        border:1px solid #DCDCDC;
        border-bottom: 8px solid #ffffff;
        text-align: center;
        &:hover{
            border-bottom: 8px solid #AA0601;
            }
    }
    a{
        font-size: 32px;
        font-weight: bold;
        display: block;
        color:#000000;
        padding: 24px 0;
        @include pad{
            font-size: 24px;
        }
    }
    @include pad{
    padding: 0px;
    }
    @include mobile{
        a{
            font-size: 16px;
        }
        }
}
.serise-bn{
    display: flex;
    margin-bottom: 80px;
    picture{
        max-height: 296px;
    }
    img{
        overflow: cover;
    }
    @include mobile{
        img{
            max-height: 136px;
            size: 120%;
        }
    }
}

.content{
    text-align: center;
    .title{
        h4{
            font-size: 42px;
            color: #000;;
        }
        p{
            font-size: 32px;
            margin-bottom: 32px;
        }
        @include mobile{
            h4,p{
            font-size: 24px;
            }
        }
    }
    .card-list{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
    }
    .card{
        width: 30%;
        margin-bottom: 80px;
        @include pad{
            width: 48%;
            margin-bottom: 40px;
        }
        @include mobile{
            width: 100%;
            margin-bottom: 24px;
        }
        .text{
            display: flex;
            justify-content: space-between;
            a,span{
                font-size: 24px;
                font-weight: bold;
                color:#000000;
            }
            span{
                color:#AA0601;
            }
        }
        .color{
            display: flex;
        }
        .color1, .color2 {
            width: 24px;
            height: 24px;
            border-radius: 4px;
        }
        .color1{
            background: #5F3E2D;
            margin-right: 8px;
        }
        .color2{
            background: #B75929;

        }
    }
}

.page{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    @include pad{
        margin-top: 40px;
    }
    @include mobile{
        margin-bottom: 64px;
    }
    a{
        color: #555555;
        padding: 12px 12px;
        border:1px solid #555555;
        border-right: none;
        &:hover{
            color: #fff;
            background: #000;
        }
        &:active{
            color: #fff;
            background: #AA0601;
        }
    }
    .border-right{
        border-right: 1px solid #555555;
    }
}